@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<h2> this mvc</h2>
<p>this is my demo yooo.</p>
<h3> @Html.ActionLink("hiii&raquo;", "index")</h3>
<p><a href="https://asp.net"class="btn btn-primary btn-lg"> مصطفى&raquo;</a> </p>
@Html.Partial("_ood")