
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<a>this is new index</a>
<h3>hellow guies </h3>
<a href="/home/contact">mostafa:link </a>
<div><h3><p style="color:yellowgreen"> ALLAH AKBAR </p>
    </h3>     </div>
